.header__menu{
    height: 80px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 1;
    background-color: var(--white-color);
}
/*logo*/
.header__logo{
    height: 80px;
    width: 151px;
}

.header__logo-img{
    width: 151px;
    padding: 16px 0;
}
/* nav*/
.header__navbar{
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header__navbar-item{
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
    position: relative;
}

.header__navbar-item:hover .menu__clone{
    clip-path: polygon(0 0, 200% 0, 200% 400%, 0 400%);
    transition: clip-path 0.6s ease-out;
}

.header__navbar-item-link{
    width: 100%;
    height: 24px;
    display: block;
    text-align: center;
}


.header__navbar-item-link:hover .header__navbar-text{
    color: var(--primary-color);
    transition: color 0.2s ease-out;
}

.header__navbar-item-link:hover .header__navbar-text::after{
    width: 100%;
    background-color: var(--primary-color);
}


.header__navbar-text{
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 24px;
    color: var(--TEXT-color);
    font-weight: 600;
    display: inline-block;
    position: relative;
}

#home{
    color: var(--primary-color);
}


.header__navbar-text::after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -2px;
    left: 0;
    background-color: var(--TEXT-color);
    display: block;
    transition: width 0.2s ease-out;
}

/* right header*/
.header__right{
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
}

.header__right-item{
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
}

.header__right-item:hover .cart__list{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: clip-path 0.4s ease-out;
}

.header__right-item:nth-child(2){
    margin: 0 20px;
}

.header__right-link{
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    text-decoration: none;
    background-color: var(--white-color);
}

.header__right-link:hover .header__right-link-icon{
    color: var(--primary-color);
    transition: color 0.2s ease-out;
}

.header__right-link-icon{
    font-size: 1.8rem;
    color: var(--TEXT-color);
    display: inline-block;
}
